<div class="container">
  <table class="table" *ngIf="todos.length">
    <thead>
      <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Status</th>
        <th>Toggle Status</th>
      </tr>
      <tr *ngFor="let todo of todos">
        <td>{{todo.id}}</td>
        <td>{{todo.text}}</td>
        <td>
          <span *ngIf="todo.isCompleted">Complete</span>
          <span *ngIf="!todo.isCompleted">Incomplete</span>
        </td>
        <td>
          <button class="btn btn-primary"
          (click)="toggleStatus(todo)">Toggle Status</button>
        </td>
      </tr>
    </thead>
  </table>
  <div class="alert alert-warning" *ngIf="!todos.length">None of tasks are marked completed!</div>
</div>
